@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Regular-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-RegularItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Thin-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 100;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-ThinItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Extralight-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 200;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-ExtralightItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Light-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-LightItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Medium-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-MediumItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Semibold-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-SemiboldItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Bold-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-BoldItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Black-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-BlackItalic-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: normal;
    font-weight: 1000;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-Super-Trial.woff') format('woff');
}
@font-face {
    font-family: 'Graphik Trial';
    font-display: swap;
    font-style: italic;
    font-weight: 1000;
    src: url('https://fonts.cdnfonts.com/s/86956/Graphik-SuperItalic-Trial.woff') format('woff');
}
@font-face {
  font-family: "FK Roman Standard Trial";
  src: url("https://db.onlinewebfonts.com/t/a2a38c80cf0357178a43afdc8e95e869.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FK Roman Standard Trial";
  src: url("https://db.onlinewebfonts.com/t/beb784012d429b8921e66081b20406b8.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FK Roman Standard Trial";
  src: url("https://db.onlinewebfonts.com/t/5b2e01844093ec2a8881f8caec25ea5e.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FK Roman Standard Trial";
  src: url("https://db.onlinewebfonts.com/t/b4a6d90ef7316c4bf2f7f0c2ff8ff26e.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FK Roman Standard Trial";
  src: url("https://db.onlinewebfonts.com/t/834183e3bc6e87253115df38c19ca08a.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "National";
  src: url("https://db.onlinewebfonts.com/t/8150a6fabd9c173b12f255940a062865.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "National";
  src: url("https://db.onlinewebfonts.com/t/2328622962a16f35eac898c70d890668.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "National";
  src: url("https://db.onlinewebfonts.com/t/42dcc182be94e2c780f2f7f2b1fbd259.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "National";
  src: url("https://db.onlinewebfonts.com/t/5fe505101637e5dd959e45d03463112f.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
	font-family: 'GuardianTextEgyptian';
	src: url('https://assets.guim.co.uk/static/frontend/fonts/guardian-textegyptian/noalts-not-hinted/GuardianTextEgyptian-Regular.woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: "TiemposText";
  src: url("https://db.onlinewebfonts.com/t/37b29158c68de167677fa4a3087d7188.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TiemposText";
  src: url("https://db.onlinewebfonts.com/t/5a0f655e9b491e4ed02d0ea75b213bca.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/67152/apercu_regular_pro.woff') format('woff');
}
@font-face {
  font-family: 'Apercu Pro';
  font-style: italic;
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/67152/apercu_regular_italic_pro.woff') format('woff');
}
@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.cdnfonts.com/s/67152/apercu_medium_pro.woff') format('woff');
}
@font-face {
  font-family: 'Apercu Pro';
  font-style: italic;
  font-weight: 600;
  src: url('https://fonts.cdnfonts.com/s/67152/apercu_medium_italic_pro.woff') format('woff');
}
@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.cdnfonts.com/s/67152/apercu_bold_pro.woff') format('woff');
}
@font-face {
  font-family: 'Apercu Pro';
  font-style: italic;
  font-weight: 700;
  src: url('https://fonts.cdnfonts.com/s/67152/apercu_bold_italic_pro.woff') format('woff');
}

@font-face {
  font-family: "AP Condensed";
  src: url("https://assets.apnews.com/resource/00000188-2a81-d28a-a1fd-7bfb6ccb0000/assets/fonts/APCustomFont/APW05-Condensed.a2e7de2f933a2cfb561ebf918445be8c.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AP Condensed";
  src: url("https://assets.apnews.com/resource/00000188-2a81-d28a-a1fd-7bfb6ccb0000/assets/fonts/APCustomFont/APW05-CondensedMedium.7d3bf8cec74522a6b6277567408b3cac.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AP Condensed";
  src: url("https://assets.apnews.com/resource/00000188-2a81-d28a-a1fd-7bfb6ccb0000/assets/fonts/APCustomFont/APW05-CondensedBold.6e5f3d10491d025b55a82beebf812af9.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AP Semi Condensed";
  src: url("https://assets.apnews.com/resource/00000188-2a81-d28a-a1fd-7bfb6ccb0000/assets/fonts/APCustomFont/APW05-SemiCondensed.d6d1dd4cf415654d766572b8828ac316.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AP Semi Condensed";
  src: url("https://assets.apnews.com/resource/00000188-2a81-d28a-a1fd-7bfb6ccb0000/assets/fonts/APCustomFont/APW05-SemiCondensedMedium.0146527a4261c5e15db1af66f0fc0b28.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AP Semi Condensed";
  src: url("https://assets.apnews.com/resource/00000188-2a81-d28a-a1fd-7bfb6ccb0000/assets/fonts/APCustomFont/APW05-SemiCondensedBold.fcbedb6a106dddd6fdfef5877e011259.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
