@font-face {
  font-family: "Bluu Next";
  src: url("https://raw.githubusercontent.com/defmikekoh/BluuNext/master/Fonts/webfonts/bluunext-bold-webfont.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Bluu Next";
  src: url("https://raw.githubusercontent.com/defmikekoh/BluuNext/master/Fonts/webfonts/bluunext-bolditalic-webfont.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicMediumltalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicBoldltalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("https://raw.githubusercontent.com/defmikekoh/Sporting-Grotesque/master/webfonts/Regular/Sporting_Grotesque-Regular_web.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Sporting Grotesque";
  src: url("https://raw.githubusercontent.com/defmikekoh/Sporting-Grotesque/master/webfonts/Bold/Sporting_Grotesque-Bold_web.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
