@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicMediumltalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Cheltenham Classic";
  src: url("https://raw.githubusercontent.com/defmikekoh/cheltenham-classic/main/docs/font-files/CheltenhamClassicBoldltalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "Lil Grotesk";
  src: url("https://raw.githubusercontent.com/defmikekoh/LilGrotesk/master/fonts/webfonts/LilGrotesk%5Bwght%5D.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
